*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%; 
  background-image: url("backgroundg.gif");
  background-image: no-repeat;
  background-size: 1366px 768px;
  
}
.main_div{
  position: absolute;
  top: 20%;
  left: 65%;
  width: 400px;
  height: 240px;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
  opacity: 0.850;
}

form {
  margin-top: 10px;
}
form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 10px;
}
.input_box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus{
  border-color: #529b9b;
}
.input_box .icon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}

.button input{
  padding-left: 0;
  background: #529b9b;
  color: #fff;
  border: none;
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  font-weight: 750;
  cursor: pointer;
  transition: all 0.3s linear;
}
.button input:hover{
background: #008080;
}
