*{
  margin: 0;
  padding: 0;
}

.loginpage {
  display: grid;
  width: 100vh;
  background-color: #ffffff;
  background-size: 1366px 768px;
  position: relative;
}

.imgcontainer {
  width: 50%;
  height: 100%;
  right: 0%;
  background-color:#EAEAEA;
  position: fixed;
}

.header {
  padding: 10px 0px;
  width: 50%;
  height: 100px;
  left: 0%;
  background-color:#ffffff;
  border-bottom:1.5px solid #00e0c6;
  position: fixed;
}

.header-img {
  width: 200px;
  height: 100px;
  margin-left: 35%;
  background: url('gwslogo.png');
  background-size: cover;
}


.container {
  width: 35%;
  height: 70px;
  top: 150px;
  left: 100px;
  background-color: none;
  position: fixed;
  border-bottom: 5px solid #00e0c6;
  border-radius: 2.5px;
}

h1 {
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;  
  color: #4D4D4D;
  font-size: 32px;
  letter-spacing: 5px;
}

.login {
  width: 35%;
  height: 375px;
  top: 250px;
  left: 100px;
  background-color: #FAFAFA;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

h2 {
  margin-left: 30px;
  margin-top: 25px;
  font-family: 'Inter', sans-serif;
  color: #121212;
  font-size: 16px;
  letter-spacing: 2px;
}

form {
  margin-top: 10px;
}

form .input_box{
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.input_box input{
  height: 50px;
  width: 80%;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 16px;
  transition: all 0.3s ease;
  margin-left: 5%;
}

input::placeholder {
  color: #808080;
  font-size: 1.2em;
  font-family:'Inter', sans-serif;
  font-size: 16px;
}

.input_box input:focus{
  border-color: #009393;
}

.input_box .icon1{
  position: absolute;
  top: 53%;
  left: 9%;
  transform: translateY(-50%);
  color: grey;
}

.input_box .icon2{
  position: absolute;
  top: 113%;
  left: 9%;
  transform: translateY(-50%);
  color: grey;
}

.button input{
  margin-top: 110px;
  margin-left: 5%;
  width: 430px;
  height: 50px;
  padding-left: 0;
  background: #009393;
  color: #ffffff;
  border-radius: 5px;;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 750;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button input:hover{
background: #008686;
}

h3 {
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  color: #121212;
  font-size: 16px;
  letter-spacing: 2px;
}

.fpassword {
  margin-left: 310px;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  text-decoration:none
}

a:link {
  color: #00E0C6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #009393;
  background-color: transparent;
  text-decoration: none;
}

a {     
  display: inline-block;     
  position: fixed;    
  z-index: 1;     
  padding: 1em;     
  margin: -1em; 
}